body {
    margin: 0;
    padding: 100px;
    font-family: 'Judson', serif;
    flex-direction:column;
    display: flex;
  }

  h1{
    text-align:center;
    font-size:46px;
    padding:0px;
  }

  .below-header{
    text-align:center;
  }
  
  .body-text{
    font-size:28px;
    font-weight: bolder;
  }

  .webpage-name{
    color:brown;
  }

  .current-webpage-pictures{
    display:flex;
    flex-direction: row;
  }

  img{
    width:400px;
    height:300px;
    margin-right:20px;
    border: 1px solid #000000;
  }

  th, td {
    border: 1px solid black; /* thin solid black border */
    border-top-width: 2px; /* thicker top border */
    border-bottom-color: 316BB4; /* red bottom border */
    padding: 8px;
    text-align: left;
  }

  .first-picture{
    width:45%;
    display: block; /* Ensures the image is treated as a block element */
    margin-left: auto; /* Auto margin left and right */
    margin-right: auto;
  }

  .wire-frames{
    display:flex;
    flex-direction: column;
    width:500px;

  }

  #wire-frame4{
    width:500px;
    height:500px;

  }

  #wire-frame3{
    width:600px;
    height:600px;
  }

  #wire-frame4, #wire-frame1 {
    width:600px;
    height:650px;
  }

  #wire-frame2{
    width:650px;
    height:650px;
  }

  #wire-frame5{
    width:600px;
    height:650px;
  }

  #wire-frame6{
    width:700px;
    height:700px;
  }


  #style-guide{
    width:650px;
    height:500px;
  }