body {
    margin: 0;
    padding: 0;
    font-family: 'Judson', serif;
    flex-direction:column;
  }
  
  .topbar{
    display: flex;
  }
  
  .topnav {
      background-color: #0D2A48;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-right: 30px;
      padding-left:30px;
    }
  
    .topnav a{
      color: white;
      font-size: 40px;
      justify-content: space-between;
    }
  
  .resize-navbar{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#FFFFFF
  }  
  
  #signin {
    width: 48px;
    height: 48px;
    border-radius: 50%; 
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #dove{
    font-size:25px;
    color: #316BB4;
  }
  
  #logo{
    width:150px;
    height:12vh;
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .dropdown{
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
  }
  
  .fa-caret-down{
    color:white;
    font-size: 25px;
    padding-left:10px;
  }




.background-beach-image {
   width:100%;
   height: 75vh;
   background-image:url('luxa.org-opacity-changed-Screenshot 2024-03-06 at 5.52.18 PM.png');
   /* background-image: url('output-onlinepngtools.png'); */
   /* background-image: url('output-onlinepngtools.png');    */
   /* background-image: url('Screenshot 2024-03-06 at 12.08.11 AM.png'); */
   padding:0;
  }
  

.booking{
    position: absolute; 
    margin-top:40px;
    width: 75vw;
    height:63vh;
    /* height: 500px; */
    background-color: #0D2A48;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    padding-left:20px;
    padding-right:20px;

}

.booking-header{
    color: #FFD500;
    /* padding-top: 25px; */
    font-size:60px;
    justify-content: center;
    margin-bottom: 20px;
    display:flex;
    justify-content:center;
    text-align:center;
}

.destination-and-time{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex-direction:row; */
    margin-left:10px;
    margin-top:10px;
    flex-wrap: wrap; 
}

.type-selection{
    display:flex;
    align-items: center;
    margin-right: auto;
    /* padding-left: 40px; */
    margin-bottom:10px;
    padding-top: 20px;
  } 
  
  .type-selection-circle{
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background-color: #D9D9D9;
    margin: 0 5px;
  }
  
  .type-selection-text{
    font-size:20px;
    color: #FFD500;
    margin: 0 10px;
  }

.destination{
    width: 60%;
    display:flex;
    flex-wrap: nowrap;
}

.to{
    width:40%;
    padding-right:20px;
    /* margin-left:10px; */
    /* padding-left:30px; */
    
}

.from{
    width:40%;
    margin-left:5px;
    /* margin-right:10px; */
    /* padding-left:8px; */
}


.destination-text, .time-text, .traveler-text{
    font-size:20px;
    color:#FFFFFF;
    margin-right:auto;
}

.destination-box{
    border-radius:8px;
    border: 2px solid #D9D9D9;
    background-color: #FFFFFF;
    color: #898989;
    width: 100%;
    height:50px;
    margin-right: 10px;
    /* margin-top:10px; */
    font-size: 25px;
    display:flex;
    align-items: center;
    padding-left: 10px;
}

.destination-switch {
    display: flex;
    align-items: center;
  }
  
#switch-circle{
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    background-color: #FFFFFF;
    margin-top: 22px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #316BB4;
    border: 2px solid #316BB4;
    font-size: 30px;
  }


.time{
    width: 40%;
    /* width:100%; */
    display:flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.departing{
    width:30%;
    /* padding-right:20px; */

}

.returning{
    width:30%;
    margin-right:50px;
    margin-left:30px;
}

.time-box{
    border-radius:8px;
    border: 2px solid #D9D9D9;
    background-color: #FFFFFF;
    color: #898989;
    width: 100%;
    height:50px;
    /* margin-right: 5px; */
    /* margin-top:10px; */
    font-size: 25px;
    display:flex;
    align-items: center;
    padding-left: 10px;
}


.traveler{
    width:30%;
    /* width:100%; */
    display:flex;
    /* flex-direction:row; */
    flex-wrap: nowrap;
    margin-right: auto;
    
    /* justify-content: flex-start; */
}

.traveler-box{
    border-radius:8px;
    border: 2px solid #D9D9D9;
    background-color: #FFFFFF;
    color: #898989;
    width: 100%;
    height:50px;
    margin-right: 10px;
    /* margin-top:10px; */
    font-size: 25px;
    display:flex;
    align-items: center;
    padding-left: 10px;
}

.travel-contents{
    margin-top: 10px;
}

.search-flights-button{
    display:flex;
    align-items: center;
    justify-content: center;
    color:#0D2A48;
    background-color: #D9D9D9;
    border-radius:8px;
    width: 275px;
    height: 50px;
    font-size: 28px;
    margin-top: 50px;
  } 


  .warning{
    text-align: center; 
    margin-top: 20px;
  }
  
  .warning-header{
    font-size: 56px;
    color: #480D0D;
  }
  
  .warning-message{
    font-size: 35px;
    color:#000000;
    line-height: 1.5;
   
  }

  .email{
    color:white
  }

  





.bottom-bar{
    /* position: sticky; */
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 400px; */
    margin-top:40px;
    /* width: 100%; */
    /* width:500px; */
    background-color: #316BB4;
    /* height: 100px; */
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .search{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
  }
  
  .search-text{
    font-size:48px;
    color: #FFFFFF;
    margin-top:10px;
    margin-left:10px;
    text-align:center;

    
  }
  
  .searchbar-box{
    border-radius:8px;
    border: 2px solid #D9D9D9;
    width: 150px;
    height: 60px;
    background-color: #FFFFFF;
    color: #898989;
    display:flex;
    align-items:center;
    padding-left: 20px;
    font-size: 25px;
    justify-content: space-evenly;
    margin-top:15px;
  }
  
  .contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#FFFFFF;
    margin-top:20px;
  
  }
  
  .icons{
    font-size:48px;
    
  }
  
  .contact-text{
    display:flex;
    align-items: center;
    font-size:24px;
    text-align:center;
  }
  
  .bottom-navbar{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    margin-bottom:10px;
  }

  
  .bottom-navbar-text{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: #FFD500;

    font-size: 32px;


  }
  
  .bottom-navbar-text a{
    margin-left:90px;
    margin-right:90px; 
    margin-top:20px;
  }


.learn-more-content{
    display:none;
}  



@media screen and (max-width: 830px) {
    .destination,
    .time-and-traveler {
        width: 100%;
    }

    .time,
    .traveler { 
        flex-direction: row;
        
        /* margin-left:20px; */
        /* margin-top:10px; */
    }

    .traveler{
        /* margin-left:23px; */
        left:auto;
        justify-content: flex-end;
        /* margin-right:0px; */
    }

    .to, .from{
        width:100%
    }

    .from{
        margin-right:30px;
    }

    .time{
        margin-top:10px;
        justify-content:flex-start;
        right:auto;
    }

    .departing{
        margin-right:20px
    }

    .contact{
        flex-direction: column;
    }

    .contact-text{
        margin-bottom: 40px;
    }
  }





  @media screen and (max-width: 600px) {
    .booking {
        height:70vh;
    }

    .background-beach-image{
        height:80vh;
    }


    .type-selection{
        display:flex;
        justify-content: center;
        margin-right:0%;
    } 

    .departing{
        margin-right:23px;
    }

    .traveler-contents{
        display:flex;
        justify-content: flex-end;
    }

    .traveler{
        display:flex;
        /* justify-content: flex-end; */
        margin-left:78px;
        justify-content: flex-end;
    }

    .time{
        flex-direction: row;
        right:auto;
        justify-content:flex-start;
    }

    #warning-email{
        font-size:24px;
      }

    .resize-navbar{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left:5%
    }
  }  

  @media screen and (max-width: 1070px) {
    .home, .about, .dropdown, .con{
      display:none;
    }
  
    .topnav{
      display:flex;
      align-items: center;
      justify-content: space-between;
    }
  
  
    .resize-navbar{
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color:#FFFFFF;
      margin-left:35%
    }
  
  
  }

  @media screen and (max-width: 1235px){
    .learn-more-content{
        display:flex;
        justify-content: center;
        align-items: center;
        color:#FFFFFF;
        font-size:32px;
    }

    .bottom-navbar-text{
        display:none;
    }

}